@import url('https://fonts.google.com/specimen/Kumbh+Sans');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    
    
    background-image: url(./images/bg-pattern-bottom.svg);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-container {
    display: grid;
    grid-template-rows: 2fr 3fr;
    box-shadow: 0px 8px 4px rgba(0,0,0,.4);
    width: 25% ;
    border-radius: 11px;
    overflow: hidden;

}

.card-top{
    background-image: url(./images/bg-pattern-card.svg);
    position: relative;
}

.card-bottom{
    /* background-image: url(./images/bg-pattern-top.svg); */
    
}
.img-container{
    position: absolute;
    bottom: -67%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-img{
border-radius: 50%;


border: .5rem #eee solid;
}
.name,
.age,
.location,
.stats{
    font-size: 1.8rem;
}
.age,
.location,
.substats{
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}
.name,
.stats{
    color: hsl(229, 23%, 23%);
    font-weight: 900;
  
}
.name-age{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8rem;
    
}
.location{
    margin-top: -3rem;
}
.card-bottom{
    display: flex;
    flex-direction: column;
    gap: 2rem;
 
    align-items: center;
    justify-content: center;
    padding: 0 8rem;
}
.card-bottom-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    width: 100%;
}
.card-bottom-content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1150px) {
    .card-container {
     
        width: 30% ;
      
    }
    
}

@media (max-width: 905px) {
    .card-container {
     
        width: 40% ;
      
    }
    
}
@media (max-width: 715px) {
    .card-container {
     
        width: 55% ;
      
    }
    
}
@media (max-width:490px) {
    html{
        font-size: 55%;
    }
    .card-container {
     
        width: 75% ;
      
    }
    .img-container{
        position: absolute;
        bottom: -77%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
}
@media (max-width:490px) {
    html{
        font-size: 52%;
    }
    .card-container {
     
        width: 85% ;
      
    }
    
}